<article class="new-message">
  <%= render partial: "shared/errors", locals: { record: new_message } %>
  <%= form_for(new_message) do |form_object| %>
    <div class="field-group">
      <%= form_object.hidden_field :user_id, value: current_user.id %>
      <%= form_object.text_area :body, placeholder: "Send a new message..." %>
    </div>

    <div class="field-group">
      <%= form_object.submit "Send", class: "submit" %>
    </div>
  <% end %>
</article>
