<!DOCTYPE html>
<html>
  <head>
    <title>TweetMe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section>
      <nav>
        <%= link_to "TweetME", root_path, class: "home" %> 
        <small>Be Original</small>
      </nav>
    </section>

    </header>
    <%= render partial: "shared/flashes" %>
    <%= yield %>
  </body>
</html>
