<!DOCTYPE html>
<html>
  <head>
    <title>twitTWOO</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section>
      <nav style="width:100%">
        <h1><%= link_to "twitTWOO", root_path, class: "home" %>
        <small>Be Original</small></h1>
         <ul class="right-side">
           <% if active_session? %>
             <li><%= link_to "Sign out", session_path(current_user.id), method: :delete %></li>
           <% else %>
             <li><%= link_to "Sign up", new_user_path %></li>
             <li><%= link_to "Sign in", new_session_path %></li>
           <% end %>
         </ul>
      </nav>
    </section>

    </header>
    <%= render partial: "shared/flashes" %>
    <%= yield %>
  </body>
</html>
